/* Defining Variables */
:root {
    --color-bg: #ffffff;
    --font-family: 'Roboto', sans-serif;
}

/* Defining styles */
body {
    background-color: var(--color-bg);
    font-family: var(--font-family);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-size: 18px;
}

canvas {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
}

.tooltip {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    display: none;
}